
.section-aboutus {
    @include flex(column, center, center);
    height: 100%;
    margin-top: 100px;
    
    
    img {
        width: 550px;
    }
}

.aboutus {
    @include flex(column, center, center);
    width: $section-width;
    margin-bottom: $m-50;
   

    h2 {
        @include sectionTitles;
       
    }
    p {
        @include sectionSubtitles; 

        @media(max-width: $mobile) {
            width: 100%;
        }
    }

    

}


.aboutus-container {
    @include flex(column, center, center);
    width: $section-width;

    @media(max-width: $mobile) {
        width: 85%;

    }
}

.aboutus-options-img-container {
    @include flex(row, space-between, center);
    margin-bottom: $m-50;

    @media(max-width: $mobile) {
        @include flex(column, center, center);
        width: 100%;
    }
}
.aboutus-options-container {
    width: 50%;
    min-width: 400px;

    @media(max-width: $mobile) {
        @include flex(column, center, center);
        width: 100%;
        order: 2;
        margin-top: 20px;
    }
}

.bigger-paragraph {
    font-size: $bigger-font-size;
}


.aboutus-option {
    @include flex(row, space-between, center);
    transition: all 0.3s ease-in-out;
    margin: 20px 0;
    
    &:hover .aboutus-icon {
        background-color: $color-nav-hover;
        color: $color-white;
        transition: all 0.3s ease-in-out;
    }
}


.aboutus-icon {
    @include flex(row, center, center);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $color-nav-hover;
    font-size: $big-icon-size;
    color: $color-nav-hover;

}
.aboutus-description {
    width: 85%;
    
   

    h4 {
        font-size: $subtitle-font-size;
        padding-left: 5px;
    }

    p {
        padding: 5px;
        line-height: $p-line-height;
    }

}


.paragraph-container {
    @include flex(row, space-between, center);
    margin: 50px 0 0 0;
   
    @media(max-width: $mobile) {
        @include flex(column, center, center);
        width: 100%;
        margin-bottom: 0;
    }

    h3 {
        font-size: $big-icon-size;
        margin-bottom: 30px;

    }
    p {
        font-size: $bigger-font-size;
        margin-bottom: 30px;
        line-height: $p-line-height;
    }
}

.paragraph {
    width: 50%;
    margin-left: 45px;
    min-width: 400px;

    @media(max-width: $mobile) {
        width: 100%;
        padding-top: 30px;
        
    }
}

.second-p {
    margin-left: 0;
    margin-right: 45px;

    @media(max-width: $mobile) {
      order: 2;
      margin-top: 00px;
    }
    h3 {
        margin-top: 20px;
    }
}
