.chooseus-section {
    @include flex(column, space-evenly, center);
    background-color: $color-darkerblue;
    color: $color-white;

    
    p {
        color: $color-lightblue;
        text-align: center;
        line-height: $p-line-height;
    }
    
    @media(max-width: $in-between) {
        height: 100%;
        padding-top: 50px;
    
    }
}

.chooseus-header {
    @include flex(column, center, center);
    

    h2 {
        @include sectionTitles;
        color: $color-white;
    
    }
    p {
        @include sectionSubtitles(75%); 
        color: $color-white;
    }
}


.chooseus-cards-container {
    @include flex(row, space-between, center);
    width: $section-width;

    @media(max-width: $widescreen) {
        width: 100%;
        justify-content: space-evenly;
    }
    @media(max-width: $in-between) {
        @include flex(column, center, center);
        margin: 40px 0;
    }
    
}


.chooseus-info-container {
    @include flex(row, space-evenly, center);
    width: $section-width;

    @media(max-width: $in-between) {
          @include flex(row, space-evenly, center);
          flex-wrap: wrap;
          padding-bottom: 50px;

    }
}

.chooseus-info {
    @include flex(column, center, center);
    width: 25%;

    p:nth-child(1) {
        font-size: $main-title-size;
        font-family: $secondary-font;
        font-weight: bold;
    
    }

    p:nth-child(2) {
        padding: 20px;
    }


    @media(max-width: $in-between) {
       width: 50%;
   }
}