#contactus {
    @include flex(column, center, center);
    padding-top: 100px;

    h2 {
        @include sectionTitles;
        margin-bottom: 70px;
        
    }
}

.contact-container {
    @include flex(row, center, flex-start);
    width: 95%;
}

.contact-map {
    width: 50%;
}


.form-container {
    @include flex(column, space-between, space-between);
    box-sizing: border-box;
    width: 50%;
    padding: 0 30px;
    height: 330px;
}

.contact-info-container {
    @include flex(row, space-between, flex-start);
    height: 15%;
}

.contact-info {
    @include flex(row, center, center);
    flex-grow: 1;


    i {
        font-size: 25px;
        color: $color-nav-hover;
    }

    p {
        line-height: 28px;
        padding: 0 15px;
    }
}
.contact-address {
    flex-grow: 2;
    justify-content: flex-start;
}

.form-input-container {
    @include flex(column, space-between, space-between);
    height: 85%;
}

.form-contact {
    @include flex(row, space-between, space-between);
   
}


.form-name {
    width: 48%;

    input {
       @include input; 
    }
}

.form-sendus {

    input {
        @include input;
    }
}

.form-textus {

    textarea {
        @include input;
        
    }
}

.form-btn {
    @include flex(row, center, center);
}