#contactus {
    @include flex(column, space-evenly, center);
    padding: 100px 0;
    height: 70vh;

    h2 {
        @include sectionTitles;
    }

    @media(max-width: $widescreen) {
        height: 100%;
    }
}

.contact-container {
    @include flex(row, center, flex-start);
    width: 95%;

    @media(max-width: $widescreen) {
        @include flex(column, center, center);
        width: 100%;
    }
}

.contact-map {
    width: 50%;


    @media(max-width: $widescreen) {
        width: 70%;
    }

    @media(max-width: $small-screen) {
        @include flex;
        width: 95%;
    }

}

iframe {
    width: 100%;
}
