.nav-header {
    @include flex(center, space-around);
    background-color: $color-white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 500;
    box-shadow: 1px 1px 35px 4px rgba(0, 0, 0, 0.2);


    @media(max-width: 990px) {
        @include flex(center, space-around)
    }
}

.nav-icon {   
    img {
    height: 25px;
    }
}

.navbar {
    ul {
    list-style: none;
    }
    a  {
        font-size: $default-font-size;
        color: $color-nav;
        padding: $p-20;
    }


}

.nav-list {
    @include flex(center, center);
}

.nav-link:hover {
    color: $color-nav-hover;

}

/*------------------------------------------------------
                 DROPDOWN
-----------------------------------------------------*/
.dropdown-item {
    position: relative;
    transition: ease all 0.3s;
}

.nav-list-dropdown {
    @include dropdown;
    transform: translateY(50px);
    left: -10px;
    top: 30px;
    z-index: 1000;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);

}

.dropdown-item:hover {

    .nav-list-dropdown {
        transform: translateY(0);
        opacity: 1;
        transition: ease all 0.3s;
    }
}

.nav-dropdown-item {
    padding: $p-10;
}

.dropdown-icon::after {
    content:"\f078";
    font-family: "Font Awesome 5 Free"; 
    font-size: $icon-size;
    font-weight: 900;
    padding: $p-10;
}

/*-----------------------------------------------------
                 DEEP DROPDOWN
-----------------------------------------------------*/
.deepdropdown::after {
    content:"\f054";
    font-family: "Font Awesome 5 Free"; 
    font-size: $icon-size;
    font-weight: 900;
    padding-left: 27px;
}

.nav-list-deepdropdown {
    @include dropdown(200px);
    transform: translateX(-50px);
    transition: ease all 0.3s;
    position: absolute;
    z-index: 1500;
    left: 180px;
    top: 45px;
}

.no-show-deepdropdown {
    padding: 10px 5px;
}

.deepdropdown-item {
    transition: ease all 0.3s;
   

    &:hover {
    transition: ease all 0.3s;
    
        .nav-list-deepdropdown {
        transform: translateX(0px);
        opacity: 1;
        transition: ease all 0.3s;
        }
    }
}

.fas.fa-bars {
    font-size: 20px;
}
/*-----------------------------------------------------
                 RESPONSIVE    
-----------------------------------------------------*/
.no-show-990 {
    @media(max-width: 990px) {
        display: none;
    }
}
.icon-responsive {
    display: none;

    @media(max-width: 990px) {
        display: block;
    }
}