.nav-header {
    @include flex(center, space-around);
    background-color: $color-white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 500;
    box-shadow: 1px 1px 35px 4px rgba(0, 0, 0, 0.2);


    @media(max-width: $in-between) {
        @include flex(center, space-around)
    }
}

.nav-icon {   
    img {
    height: 25px;
    }
}

.navbar {
    ul {
    list-style: none;
    }
    a  {
        font-size: $default-font-size;
        color: $color-nav;
        padding: $p-20;
    }


}

.nav-list {
    @include flex(center, center);
}
.nav-link {
    font-family: $secondary-font;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
}
.nav-link:hover {
    color: $color-nav-hover;
    transition: all ease-in-out 0.3s;

}


/*-----------------------------------------------------
                 RESPONSIVE    
-----------------------------------------------------*/
.no-show-990 {
    @media(max-width: $in-between) {
        display: none;
    }
}
.icon-responsive {
    display: none;

    @media(max-width: $in-between) {
        display: block;
    }
}