.introduction {
    padding-top: 80px;
    background-color: $color-white;
    background-image: url('../img/intro-bg.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
    height: 100vh;;

    @include flex(row,center, center);
}
.introduction-container {
    @include flex(row, space-between, center);
    width: 100%;
    

    @media(max-width: $mobile) {
        @include flex(column, center, center);
    }

}
.introduction-left {
    width: 500px;
    @include flex(column, space-evenly, flex-start);
    height: 300px;

    @media(max-width: $mobile) {
        order: 2;
        @include flex(column, center, center);
    }

    @media(max-width: $smallest-screen) {
        max-width: 300px;
    }

    h1 {
        font-size: $main-title-size;
        font-weight: bold;
        color: $color-white;
        line-height: 50px;

        @media(max-width: $mobile) {
           text-align: center;
           line-height: 60px;
        }
        @media(max-width: $smallest-screen) {
            line-height: 40px;
            font-size: 35px;
         }
    
    }

    .highlight {
        color: $color-highlight;
        text-decoration: underline;
    }


}
.introduction-btns {
    padding: 30px;

    @media(max-width: $smallest-screen) {
        @include flex(column, center, center);
    }


}
.img-right {
    height: 300px;

    @media(max-width: $smallest-screen) {
        height: 200px;
        padding-bottom: 30px;
    }
    
}