.ourclients {
    @include flex(column, center, center);
    height: 100%;
    background-color: $color-lighterblue;
    padding-top: 100px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

    h2 {
        @include sectionTitles;

    }

    p {
        @include sectionSubtitles;
    }
}


.clients-container {
    @include flex(row, center, center);
    width: $section-width;
    margin: 70px 0;
    flex-wrap: wrap;
    border-top: 1px solid  $color-lightblue;
    border-left: 1px solid  $color-lightblue;
    box-sizing: content-box;


    @media(max-width:$in-between) {
        @include flex(row, flex-start, center);
        width: 90%;
    }
    
    @media(max-width:$small-screen) {
        @include flex(row, center, center);
        width: 70%;
    }
}


.client-container {
    @include flex(row, center, center);
    box-sizing: border-box;
    width: 25%;
    height: 160px;
    background-color: $color-white;
    border-right: 1px solid  $color-lightblue;
    border-bottom: 1px solid  $color-lightblue;


    img {
        width: 150px;
        transition: all ease-in-out 0.4s;

        @media(max-width:$widescreen) {
            width: 103px;
        }

        @media(max-width:$small-screen) {
            width: 230px;
        }

    }

    &:hover img {
        transform: scale(1.3);
        transition: all ease-in-out 0.4s;
    }

    @media(max-width:$in-between) {
        width: 33.33333%;
    }

    @media(max-width:$small-screen) {
        width: 100%;
    }
    
    
}