.services-section {
    @include flex(column, center, center);
    background: #ecf5ff;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin-top: 100px;
    padding: 90px 0;

    h2 {
        @include sectionTitles;
    }

    .services-sub {
        @include sectionSubtitles(80%);
        padding-bottom: 20px;
    }
}

.header-services {
    @include flex(column, center, center);
}
.services-cards-container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    max-width: $section-width;
    margin: $m-50;

    @media(max-width: $in-between) {
        @include flex(row, center, center);
        max-width: 90%;
    }

    @media(max-width: $small-screen) {
        @include flex(column, center, center);
        max-width: 100%;
        margin: 0;
    }


}

