.section-testimonials {
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
    background-color: $color-lighterblue;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding-top: 50px;

    h2 {
        @include sectionTitles;
    }
}

.slider-container {
    @include flex(row, center, flex-start);
    height: 45vh;
    width: 100%;

    @media(max-width: $small-screen) {
        height: 70vh;  
        width: 100%;
    
             
   }
}


