* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $default-font;
    background-color: $color-white;
    color: $default-font-color;
    font-size: $default-font-size;


    @media(max-width: $smallest-screen) {
        @include flex(column, center, center);

    }

    main {
        @media(max-width: $smallest-screen) {
            @include flex(column, center, center);

        }

        @media(max-width: $screen-400px) {
            padding-left: 50px;

        }
    }

    @media(max-width: $screen-400px) {
        //    margin-right: -200px;
    }


}

a {
    text-decoration: none;

}

section {
    height: 100vh;
    width: 100%;

    @media(max-width: $screen-400px) {
        //    margin-right: -70px;

    }

    &>p {
        @media(max-width: $smallest-screen) {
            width: 400px;

        }
    }

}

ul {
    list-style: none;

    ul {
        list-style: none;

        ul {
            list-style: none;
        }

    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $secondary-font;
}