/*-----------------------------------------------
                BUTTONS INTRO
------------------------------------------------*/


button.getstarted {
    @include btn1;
}


button.ourservices {
    @include btn2;
}


/*-----------------------------------------------
                BUTTONS PORTFOLIO
------------------------------------------------*/
.portfolio-select {
    @include flex(row, center, center);
    font-size: 12px;
    height: 32px;
    width: 60px;
    background-color: $color-lighterblue;
    cursor: pointer;
    border-radius: 15px;
    color: $color-nav-hover;
    margin: 8px;
    transition: all ease-in-out 0.3s;

    &:hover {
        background-color: $color-nav-hover;
        color: $color-white;
        transition: all ease-in-out 0.3s;
    }

}



.portfolio-link {
    @include flex(row, center, center);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: $color-nav-hover;
    color: $color-white;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
        background-color: $color-blue;
        transition: all ease-in-out 0.3s;

    }
}


/*-----------------------------------------------
                BUTTONS CONTACT
------------------------------------------------*/


.send {
    @include flex(row, center, center);
    width: 170px;
    height: 40px;
    background-color: $color-nav-hover;
    border: none;
    border-radius: 25px;
    color: $color-white;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
        background-color: $color-icon-hover;
        transition: all ease-in-out 0.3s;
    }
    
}

/*-----------------------------------------------
                BUTTONS FOOTER
------------------------------------------------*/
.footer-icons {
    @include flex(row, flex-start, center);
    margin-top: 30px;

    a {
        @include flex;
        @include footerIcon;
    }

}

.btn-suscribe {
    @include flex;
    background-color:  $color-nav-hover;
    font-family: $default-font;
    width: 35%;
    height: 33px;
    margin: 0;
    border: none;
    color: $color-lighterblue;
    border-left: none;
    font-size: $p-font-size;
    transition: all ease-in-out 0.3s;
    cursor: pointer;


    &:hover {
        background-color: #0062cc;
        transition: all ease-in-out 0.3s;
    }

}