// Colors
$color-white: white;
$background-body: #f5f7f9;
$color-nav: #1445b3;
$color-nav-hover: #007bff;
$color-highlight: #74b5fc;
$color-sidebar: #004289;

//Fonts
$default-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$default-font-size: 14px;
$bigger-font-size: 16px;
$icon-size: 10px;
$main-title-size: 48px;


// Paddings and margins
$p-10: 10px;
$p-20: 20px;