@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #444;
  font-size: 14px;
}
@media (max-width: 550px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 550px) {
  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

a {
  text-decoration: none;
}

section {
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}
ul ul {
  list-style: none;
}
ul ul ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

/*-----------------------------------------------
                BUTTONS INTRO
------------------------------------------------*/
button.getstarted {
  background-color: #007bff;
  outline: none;
  border: 2px solid #007bff;
  color: white;
  height: 40px;
  width: 165px;
  border-radius: 25px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: ease all 0.3s;
}
button.getstarted:hover {
  background-color: #1445b3;
  border: 2px solid white;
  transition: ease all 0.3s;
}

button.ourservices {
  background-color: #1445b3;
  outline: none;
  border: 2px solid white;
  color: white;
  height: 40px;
  width: 165px;
  border-radius: 25px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: ease all 0.3s;
}
button.ourservices:hover {
  background-color: #007bff;
  border: 2px solid #007bff;
  transition: ease all 0.3s;
}

/*-----------------------------------------------
                BUTTONS PORTFOLIO
------------------------------------------------*/
.portfolio-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 32px;
  width: 60px;
  background-color: #ecf5ff;
  cursor: pointer;
  border-radius: 15px;
  color: #007bff;
  margin: 8px;
  transition: all ease-in-out 0.3s;
}
.portfolio-select:hover {
  background-color: #007bff;
  color: white;
  transition: all ease-in-out 0.3s;
}

.portfolio-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.portfolio-link:hover {
  background-color: #3395ff;
  transition: all ease-in-out 0.3s;
}

/*-----------------------------------------------
                BUTTONS CONTACT
------------------------------------------------*/
.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  color: white;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.send:hover {
  background-color: #0067d5;
  transition: all ease-in-out 0.3s;
}

/*-----------------------------------------------
                BUTTONS FOOTER
------------------------------------------------*/
.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.footer-icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.footer-icons a:hover {
  background-color: #0067d5;
  transition: all ease-in-out 0.3s;
}

.btn-suscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  font-family: "Open Sans", sans-serif;
  width: 35%;
  height: 33px;
  margin: 0;
  border: none;
  color: #ecf5ff;
  border-left: none;
  font-size: 15px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.btn-suscribe:hover {
  background-color: #0062cc;
  transition: all ease-in-out 0.3s;
}

/*------------------------------------------------------
                 DROPDOWN
-----------------------------------------------------*/
.dropdown-item {
  position: relative;
  transition: ease all 0.3s;
}

.nav-list-dropdown {
  opacity: 0;
  width: 180px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: ease all 0.3s;
  visibility: hidden;
  transform: translateY(50px);
  left: -10px;
  top: 30px;
  z-index: 1000;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-item:hover .nav-list-dropdown {
  transform: translateY(0);
  opacity: 1;
  transition: ease all 0.3s;
  visibility: visible;
}

.nav-dropdown-item {
  padding: 10px 0;
}

.dropdown-icon::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  padding: 10px;
}

/*-----------------------------------------------------
                 DEEP DROPDOWN
-----------------------------------------------------*/
.deepdropdown::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  padding-left: 27px;
}

.nav-list-deepdropdown {
  opacity: 0;
  width: 200px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: ease all 0.3s;
  transform: translateX(-50px);
  transition: ease all 0.3s;
  visibility: hidden;
  position: absolute;
  z-index: 1500;
  left: 180px;
  top: 45px;
}

.no-show-deepdropdown {
  padding: 10px 5px;
}

.deepdropdown-item {
  transition: ease all 0.3s;
}
.deepdropdown-item:hover {
  transition: ease all 0.3s;
}
.deepdropdown-item:hover .nav-list-deepdropdown {
  transform: translateX(0px);
  opacity: 1;
  transition: ease all 0.3s;
  visibility: visible;
}

.fas.fa-bars {
  font-size: 20px;
}

/*-----------------------------------------------------
                 ASIDE DROPDOWN
-----------------------------------------------------*/
#aside-dropdown {
  display: none;
}
#aside-dropdown:checked ~ .aside-list-dropdown {
  display: block;
  transition: all 0.3s;
}
#aside-dropdown:checked ~ .aside-icon-item::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
}

.aside-dropdown-item {
  line-height: 43.2px;
}

.a-no-show-deepdropdown {
  /*padding: $p-10;*/
  width: 150px;
  line-height: 43.2px;
}

#aside-deepdropdown {
  display: none;
}

.aside-icon-deep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aside-icon-deep::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
}

#aside-deepdropdown:checked ~ ul.aside-list-deepdropdown {
  height: 210px;
  display: block;
}
#aside-deepdropdown:checked ~ .aside-icon-deep::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
}

ul.aside-list-deepdropdown {
  height: 0px;
  width: 200px;
  transition: all 0.3s;
  padding-left: 20px;
  display: none;
}

/*------------------------------------------------
               SERVICES CARDS
------------------------------------------------*/
.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  max-width: 40%;
  padding: 30px;
  box-sizing: border-box;
  margin: 0px 40px 40px 0px;
  border-radius: 10px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  overflow: hidden;
  transition: all ease-out 0.3s;
  max-width: 430px;
  max-height: 170px;
}
.services-card:hover {
  transform: translateY(-10px);
  transition: all ease-out 0.3s;
}
.services-card:hover .card-title {
  color: #007bff;
}
@media (max-width: 1200px) {
  .services-card {
    max-height: 190px;
    max-width: 350px;
  }
}
@media (max-width: 990px) {
  .services-card {
    max-width: 310px;
  }
}
@media (max-width: 770px) {
  .services-card {
    max-height: 150px;
    max-width: 520px;
    margin: 20px 0;
  }
}

.services-icon {
  position: absolute;
  font-size: 64px;
  top: calc(50% - 32px);
  left: -10px;
}

.fas.fa-chart-pie {
  color: #ff689b;
}

.fas.fa-book-open {
  color: #e9bf06;
}

.far.fa-file-alt {
  color: #3fcdc7;
}

.fas.fa-tachometer-alt {
  color: #41cf2e;
}

.fas.fa-globe {
  color: #d6ff22;
}

.far.fa-clock {
  color: #4680ff;
}

.services-card-description .card-title {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0 10px 70px;
  font-weight: bold;
}
.services-card-description p {
  padding: 10px 0 10px 70px;
  line-height: 25px;
}

/*------------------------------------------------
               CHOOSE US CARDS
------------------------------------------------*/
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00458f;
  max-width: 290px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.card-container:hover {
  background-color: #003b7a;
  transition: all ease-in-out 0.3s;
}
.card-container:hover .card-link {
  border-bottom: 2px solid #00458f;
  transition: all ease-in-out 0.3s;
}
.card-container i {
  font-size: 48px;
  color: #d8eafe;
}
.card-container h5 {
  font-size: 22px;
  padding: 20px 0;
}
.card-container .card-link {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 30px;
  transition: all ease-in-out 0.3s;
  border-bottom: #00458f solid 2px;
  cursor: pointer;
}
.card-container .card-link:hover {
  transition: all ease-in-out 0.3s;
  border-bottom: 2px solid white;
}
@media (max-width: 990px) {
  .card-container .card-link {
    margin: 30px 0 0px 0;
  }
}
@media (max-width: 1200px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 260px;
    padding: 20px;
  }
}
@media (max-width: 990px) {
  .card-container {
    width: 75%;
    max-width: 1200px;
    margin: 20px;
  }
}

/*------------------------------------------------
               PORTFOLIO CARDS
------------------------------------------------*/
.portfolio-card-container {
  position: relative;
  margin: 15px 10px;
  transition: all ease-in-out 0.3s;
}
.portfolio-card-container:hover .portfolio-info {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1200px) {
  .portfolio-card-container:hover .portfolio-info {
    width: 290px;
    height: 250px;
  }
}
@media (max-width: 770px) {
  .portfolio-card-container:hover .portfolio-info {
    width: 95%;
    min-width: 455px;
    max-width: 555px;
  }
}
.portfolio-card-container:hover .portfolio-info-bg {
  opacity: 0.5;
  width: 350px;
  height: 250px;
  background-color: #003166;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 299;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1200px) {
  .portfolio-card-container:hover .portfolio-info-bg {
    width: 290px;
    height: 250px;
  }
}
@media (max-width: 770px) {
  .portfolio-card-container:hover .portfolio-info-bg {
    width: 95%;
    min-width: 455px;
  }
}
@media (max-width: 770px) {
  .portfolio-card-container {
    width: 95%;
    min-width: 455px;
    max-width: 555px;
  }
}
@media (max-width: 550px) {
  .portfolio-card-container {
    width: 70%;
    min-width: 370px;
    max-width: 370px;
  }
}

.portfolio-img-container {
  width: 350px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.portfolio-img-container img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}
@media (max-width: 770px) {
  .portfolio-img-container img {
    width: 100%;
    min-width: 455px;
  }
}
@media (max-width: 550px) {
  .portfolio-img-container img {
    min-width: 370px;
  }
}
@media (max-width: 1200px) {
  .portfolio-img-container {
    width: 290px;
    height: 250px;
  }
}
@media (max-width: 770px) {
  .portfolio-img-container {
    width: 95%;
    min-width: 455px;
  }
}
@media (max-width: 550px) {
  .portfolio-img-container {
    width: 70%;
    min-width: 370px;
  }
}

.portfolio-info-bg {
  width: 350px;
  height: 250px;
  background-color: #003166;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 299;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1200px) {
  .portfolio-info-bg {
    width: 290px;
    height: 250px;
  }
}
@media (max-width: 770px) {
  .portfolio-info-bg {
    width: 95%;
    min-width: 455px;
  }
}
@media (max-width: 550px) {
  .portfolio-info-bg {
    width: 70%;
    min-width: 370px;
  }
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  border-radius: 5px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1200px) {
  .portfolio-info {
    width: 290px;
    height: 250px;
  }
}
@media (max-width: 770px) {
  .portfolio-info {
    width: 95%;
    min-width: 455px;
  }
}
@media (max-width: 550px) {
  .portfolio-info {
    width: 70%;
    min-width: 370px;
  }
}
.portfolio-info a {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  transition: all ease-in-out 0.3s;
}
.portfolio-info a:hover {
  color: #007bff;
  transition: all ease-in-out 0.3s;
}

.portfolio-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.portfolio-options-container .portfolio-link {
  margin: 5px;
}

/*------------------------------------------------
               TEAM CARDS
------------------------------------------------*/
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
}
.team-card:hover .team-bg {
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
.team-card:hover .team-description-container {
  transition: all ease-in-out 0.3s;
  transform: translateY(0);
  opacity: 1;
}

.team-img-container {
  width: 255px;
  height: 255px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1200px) {
  .team-img-container {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 990px) {
  .team-img-container {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 770px) {
  .team-img-container {
    width: 510px;
    height: 510px;
  }
}
.team-img-container img {
  height: 280px;
}
@media (max-width: 990px) {
  .team-img-container img {
    height: 350px;
  }
}
@media (max-width: 770px) {
  .team-img-container img {
    height: 550px;
  }
}

.team-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  color: white;
  transform: translateY(20px);
  opacity: 0;
}
@media (max-width: 1200px) {
  .team-description-container {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 990px) {
  .team-description-container {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 770px) {
  .team-description-container {
    width: 510px;
    height: 510px;
  }
}
.team-description-container h4 {
  font-size: 18px;
  padding: 5px;
}
.team-description-container p {
  font-size: 13px;
  padding: 0px 0 20px 0;
}
.team-description-container a {
  color: white;
  font-size: 18px;
  padding: 0 5px;
  transition: all ease-in-out 0.3s;
}
.team-description-container a:hover {
  color: #007bff;
  transition: all ease-in-out 0.3s;
}

.team-bg {
  width: 255px;
  height: 255px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #003166;
  opacity: 0;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1200px) {
  .team-bg {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 990px) {
  .team-bg {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 770px) {
  .team-bg {
    width: 510px;
    height: 510px;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 730px;
  height: 200px;
  position: relative;
  margin-block-start: 0;
  overflow: hidden;
}
@media (max-width: 770px) {
  .slider {
    width: 95%;
    height: 400px;
    max-width: 650px;
    overflow: hidden;
  }
}

.slider-option {
  position: relative;
}
.slider-option input {
  position: relative;
  top: 170px;
  margin: 5px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 770px) {
  .slider-option input {
    z-index: 16;
    top: 358px;
  }
}
.slider-option input:checked + .t-button {
  background-color: #007bff;
  transition: all ease-in-out 0.3s;
}
.slider-option input:checked + .testimonial1 {
  z-index: 8;
}
.slider-option input:checked ~ .testimonial2 {
  transform: translateX(-1007px);
  transition: all ease-in-out 0.3s;
  z-index: 3;
}
@media (max-width: 770px) {
  .slider-option input:checked ~ .testimonial2 {
    transform: translateX(-718px);
  }
}
.slider-option input:checked ~ .testimonial3 {
  transform: translateX(-1029px);
  transition: all ease-in-out 0.3s;
  z-index: 5;
}
@media (max-width: 770px) {
  .slider-option input:checked ~ .testimonial3 {
    transform: translateX(-740px);
  }
}
.slider-option input:checked ~ .testimonial4 {
  transform: translateX(-1052px);
  transition: all ease-in-out 0.3s;
  z-index: 7;
}
@media (max-width: 770px) {
  .slider-option input:checked ~ .testimonial4 {
    transform: translateX(-763px);
  }
}
.slider-option input:checked ~ .testimonial5 {
  transform: translateX(-1106px);
  transition: all ease-in-out 0.3s;
  z-index: 1;
}
@media (max-width: 770px) {
  .slider-option input:checked ~ .testimonial5 {
    transform: translateX(-817px);
  }
}

.t-button {
  position: absolute;
  top: 168px;
  left: -1px;
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ddd;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 770px) {
  .t-button {
    top: 357px;
    z-index: 15;
  }
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #ecf5ff;
  width: 1000px;
  height: 150px;
  transition: all ease-in-out 0.3s 0.3s;
  padding-left: 270px;
}
.testimonial-container img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
}
@media (max-width: 770px) {
  .testimonial-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 700px;
  }
}

.t-info {
  margin: 30px;
  width: 80%;
}
.t-info h3 {
  color: #000;
  font-size: 20px;
  padding: 5px 0;
}
@media (max-width: 770px) {
  .t-info h3 {
    text-align: center;
  }
}
.t-info > p {
  color: #999;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 770px) {
  .t-info > p {
    text-align: center;
  }
}

.t-description {
  padding: 15px 0;
  font-style: italic;
  font-weight: bold;
  opacity: 0.8;
  line-height: 25px;
  max-width: 540px;
}
@media (max-width: 770px) {
  .t-description {
    text-align: center;
    max-width: 400px;
    margin: auto;
  }
}

.testimonial1 {
  top: 0;
  opacity: 1;
  left: -585px;
}
@media (max-width: 770px) {
  .testimonial1 {
    left: -295px;
  }
}

.testimonial2 {
  left: 400px;
  top: 0;
  opacity: 1;
}

.testimonial3 {
  left: 400px;
  top: 0;
  opacity: 1;
}

.testimonial4 {
  left: 400px;
  top: 0;
  opacity: 1;
}

.testimonial5 {
  left: 430px;
  top: 0;
  opacity: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  box-sizing: border-box;
  width: 50%;
  padding: 0 30px;
  height: 330px;
}
@media (max-width: 1200px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 30px 0;
    height: 100%;
    width: 75%;
    min-width: 400px;
  }
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 15%;
}
@media (max-width: 990px) {
  .contact-info-container {
    height: 100%;
    padding: 10px 0;
  }
}
@media (max-width: 770px) {
  .contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.contact-info i {
  font-size: 25px;
  color: #007bff;
}
.contact-info p {
  line-height: 28px;
  padding: 0 15px;
}
@media (max-width: 770px) {
  .contact-info {
    padding: 10px 0;
  }
}

.contact-address {
  flex-grow: 2;
  justify-content: flex-start;
}
@media (max-width: 770px) {
  .contact-address {
    padding: 10px 0;
  }
}

.form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 85%;
}

.form-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 15px;
}
.form-contact p {
  font-size: 13px;
  color: red;
}
@media (max-width: 770px) {
  .form-contact {
    padding: 10px 0;
  }
}

.form-name {
  width: 48%;
}
.form-name input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 100%;
  font-family: inherit;
  outline: none;
  transition: all ease-in-out 0.3s;
}
.form-name input:focus {
  border: none;
}
.form-name input:focus-within {
  border: 1px solid #80bdff;
  transition: all ease-in-out 0.3s;
}
.form-name input:invalid:not(:placeholder-shown) ~ .invalid-disclaimer {
  height: 20px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 770px) {
  .form-name {
    width: 47%;
  }
}

.invalid-disclaimer {
  height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.form-sendus {
  margin-bottom: 15px;
}
.form-sendus input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 100%;
  font-family: inherit;
  outline: none;
  transition: all ease-in-out 0.3s;
}
.form-sendus input:focus {
  border: none;
}
.form-sendus input:focus-within {
  border: 1px solid #80bdff;
  transition: all ease-in-out 0.3s;
}
.form-sendus input:invalid:not(:placeholder-shown) ~ .invalid-disclaimer {
  height: 20px;
  transition: all ease-in-out 0.3s;
}
.form-sendus p {
  font-size: 13px;
  color: red;
}

.form-textus textarea {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 100%;
  font-family: inherit;
  outline: none;
  transition: all ease-in-out 0.3s;
}
.form-textus textarea:focus {
  border: none;
}
.form-textus textarea:focus-within {
  border: 1px solid #80bdff;
  transition: all ease-in-out 0.3s;
}
.form-textus textarea:invalid:not(:placeholder-shown) ~ .invalid-disclaimer {
  height: 20px;
  transition: all ease-in-out 0.3s;
}
.form-textus p {
  font-size: 13px;
  color: red;
}

.form-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 770px) {
  .form-btn {
    margin-top: 20px;
  }
}

.nav-header {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-shadow: 1px 1px 35px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 990px) {
  .nav-header {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    align-items: center;
  }
}

.nav-icon img {
  height: 25px;
}

.navbar ul {
  list-style: none;
}
.navbar a {
  font-size: 14px;
  color: #1445b3;
  padding: 20px;
}

.nav-list {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
}

.nav-link:hover {
  color: #007bff;
  transition: all ease-in-out 0.3s;
}

/*-----------------------------------------------------
                 RESPONSIVE    
-----------------------------------------------------*/
@media (max-width: 990px) {
  .no-show-990 {
    display: none;
  }
}

.icon-responsive {
  display: none;
}
@media (max-width: 990px) {
  .icon-responsive {
    display: block;
  }
}

/*------------------------------------------------------------
                        ASIDE
-------------------------------------------------------------*/
.close {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 9999;
  display: none;
}
@media (max-width: 550px) {
  .close {
    right: 40px;
  }
}
.close .fas.fa-times {
  font-size: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(19, 39, 57, 0.8);
  opacity: 0.9;
  height: 100%;
  width: 300px;
  transform: translateX(-300px);
  transition: all 0.3s;
  z-index: 9999;
  padding-top: 10px;
  overflow: auto;
}
@media (max-width: 550px) {
  #sidebar {
    width: 250px;
    transform: translateX(-250px);
  }
}
#sidebar:target {
  display: block;
  height: 100%;
  transform: translateX(0);
  transition: all 0.3s;
  z-index: 9997;
}
#sidebar:target ~ .background-close {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(19, 39, 57, 0.8);
  z-index: 9995;
  top: 0;
  left: 0;
  cursor: default;
  overflow: hidden;
}
#sidebar:target:target ~ .close {
  display: block;
}
#sidebar .background-close {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*margin-left: 250px;*/
  /*z-index: 600;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  overflow: hidden;*/
}
#sidebar .aside-item {
  line-height: 40px;
  padding: 5px 30px;
}

/*.first-dropdown {
    // height: ;
}*/
ul.aside-list-dropdown {
  list-style: none;
  display: none;
  width: 200px;
  transition: all 0.3s;
  padding-left: 20px;
}

.aside-icon-item {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 550px) {
  .aside-icon-item {
    width: 200px;
  }
}
.aside-icon-item::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
}

.aside-nav-link {
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.aside-nav-link:hover {
  color: #007bff;
}

@media (max-width: 550px) {
  .aside-icon-deep {
    width: 180px;
  }
}

.introduction {
  padding-top: 80px;
  background-color: white;
  background-image: url("../img/intro-bg.png");
  background-size: cover;
  background-repeat: repeat;
  z-index: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.introduction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 900px) {
  .introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.introduction-left {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 300px;
}
@media (max-width: 900px) {
  .introduction-left {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .introduction-left {
    max-width: 300px;
  }
}
.introduction-left h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  line-height: 50px;
}
@media (max-width: 900px) {
  .introduction-left h1 {
    text-align: center;
    line-height: 60px;
  }
}
@media (max-width: 550px) {
  .introduction-left h1 {
    line-height: 40px;
    font-size: 35px;
  }
}
.introduction-left .highlight {
  color: #74b5fc;
  text-decoration: underline;
}

.introduction-btns {
  padding: 30px;
}
@media (max-width: 550px) {
  .introduction-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.img-right {
  height: 300px;
}
@media (max-width: 550px) {
  .img-right {
    height: 200px;
    padding-bottom: 30px;
  }
}

.section-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}
.section-aboutus img {
  width: 550px;
}
@media (max-width: 550px) {
  .section-aboutus img {
    width: 300px;
  }
}

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-bottom: 50px;
}
.aboutus h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.aboutus p {
  color: #556877;
  width: 50%;
  text-align: center;
  font-size: 15px;
}
@media (max-width: 900px) {
  .aboutus p {
    width: 100%;
  }
}

.aboutus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
@media (max-width: 900px) {
  .aboutus-container {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .aboutus-container {
    width: 70%;
  }
}

.aboutus-options-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .aboutus-options-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.aboutus-options-container {
  width: 50%;
  min-width: 400px;
}
@media (max-width: 900px) {
  .aboutus-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
    margin-top: 20px;
  }
}

.bigger-paragraph {
  font-size: 16px;
}

.aboutus-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin: 20px 0;
}
.aboutus-option:hover .aboutus-icon {
  background-color: #007bff;
  color: white;
  transition: all 0.3s ease-in-out;
}

.aboutus-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #007bff;
  font-size: 24px;
  color: #007bff;
}

.aboutus-description {
  width: 85%;
}
.aboutus-description h4 {
  font-size: 18px;
  padding-left: 5px;
}
.aboutus-description p {
  padding: 5px;
  line-height: 25px;
}

.paragraph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0 0;
}
@media (max-width: 900px) {
  .paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 550px) {
  .paragraph-container {
    text-align: center;
  }
}
.paragraph-container h3 {
  font-size: 24px;
  margin-bottom: 30px;
}
.paragraph-container p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 25px;
}

.paragraph {
  width: 50%;
  margin-left: 45px;
  min-width: 400px;
}
@media (max-width: 900px) {
  .paragraph {
    width: 100%;
    padding-top: 30px;
  }
}
@media (max-width: 550px) {
  .paragraph {
    margin: auto;
    text-align: center;
  }
}

.second-p {
  margin-left: 0;
  margin-right: 45px;
}
@media (max-width: 900px) {
  .second-p {
    order: 2;
    margin-top: 0px;
  }
}
@media (max-width: 550px) {
  .second-p {
    margin-right: 0;
  }
}
.second-p h3 {
  margin-top: 20px;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ecf5ff;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-top: 100px;
  padding: 90px 0;
}
.services-section h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.services-section .services-sub {
  color: #556877;
  width: 80%;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}

.header-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 75%;
  margin: 50px;
}
@media (max-width: 990px) {
  .services-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90%;
  }
}
@media (max-width: 770px) {
  .services-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 550px) {
  .services-cards-container {
    max-width: 85%;
  }
}

.chooseus-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #004a99;
  color: white;
}
.chooseus-section p {
  color: #d8eafe;
  text-align: center;
  line-height: 25px;
}
@media (max-width: 990px) {
  .chooseus-section {
    height: 100%;
    padding-top: 50px;
  }
}

.chooseus-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chooseus-header h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  color: white;
}
.chooseus-header p {
  color: #556877;
  width: 75%;
  text-align: center;
  font-size: 15px;
  color: white;
}

.chooseus-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
@media (max-width: 1200px) {
  .chooseus-cards-container {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (max-width: 990px) {
  .chooseus-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
}

.chooseus-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}
@media (max-width: 990px) {
  .chooseus-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

.chooseus-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.chooseus-info p:nth-child(1) {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.chooseus-info p:nth-child(2) {
  padding: 20px;
}
@media (max-width: 990px) {
  .chooseus-info {
    width: 50%;
  }
}

#portfolio {
  padding-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portfolio h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 770px) {
  #portfolio {
    padding-bottom: 40px;
  }
}

.portfolio-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolio-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 30px 0;
  width: 95%;
}
@media (max-width: 770px) {
  .portfolio-cards-container {
    width: 85%;
  }
}

.section-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: #ecf5ff;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
}
.section-testimonials h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 770px) {
  .section-testimonials {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 30vh;
  width: 100%;
  margin: 20px 0;
}
@media (max-width: 770px) {
  .slider-container {
    height: 50vh;
    width: 100%;
  }
}

#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 100px;
}
#team h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
#team .team-subtitle {
  color: #556877;
  width: 50%;
  text-align: center;
  font-size: 15px;
  width: 35%;
}

.team-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 70px 0;
  flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 990px) {
  .team-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.ourclients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ecf5ff;
  padding-top: 100px;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.ourclients h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.ourclients p {
  color: #556877;
  width: 50%;
  text-align: center;
  font-size: 15px;
}

.clients-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 70px 0;
  flex-wrap: wrap;
  border-top: 1px solid #d8eafe;
  border-left: 1px solid #d8eafe;
  box-sizing: content-box;
}
@media (max-width: 990px) {
  .clients-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
  }
}
@media (max-width: 770px) {
  .clients-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
}

.client-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 25%;
  height: 160px;
  background-color: white;
  border-right: 1px solid #d8eafe;
  border-bottom: 1px solid #d8eafe;
}
.client-container img {
  width: 150px;
  transition: all ease-in-out 0.4s;
}
@media (max-width: 1200px) {
  .client-container img {
    width: 103px;
  }
}
@media (max-width: 770px) {
  .client-container img {
    width: 230px;
  }
}
.client-container:hover img {
  transform: scale(1.3);
  transition: all ease-in-out 0.4s;
}
@media (max-width: 990px) {
  .client-container {
    width: 33.33333%;
  }
}
@media (max-width: 770px) {
  .client-container {
    width: 100%;
  }
}

#contactus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
  height: 70vh;
}
#contactus h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  #contactus {
    height: 100%;
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
}
@media (max-width: 1200px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.contact-map {
  width: 50%;
}
@media (max-width: 1200px) {
  .contact-map {
    width: 70%;
  }
}
@media (max-width: 770px) {
  .contact-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}

iframe {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #004a99;
  color: #ecf5ff;
  font-family: "Montserrat", sans-serif;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  padding: 50px 0;
}
@media (max-width: 990px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
}

.sectionone,
.sectiontwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 990px) {
  .sectionone,
.sectiontwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    padding-bottom: 40px;
  }
}
@media (max-width: 770px) {
  .sectionone,
.sectiontwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.footer-intro {
  width: 25%;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 50px;
}
.footer-intro h3 {
  font-size: 34px;
  color: white;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer-intro p {
  font-size: 13px;
  line-height: 25px;
}
@media (max-width: 770px) {
  .footer-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
}

.footer-useful {
  width: 10%;
  flex-grow: 1;
  box-sizing: border-box;
}
.footer-useful h4 {
  color: white;
  padding-bottom: 20px;
}
.footer-useful li {
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
}
.footer-useful a {
  color: #ecf5ff;
  transition: all ease-in-out 0.3s;
}
.footer-useful a:hover {
  color: #007bff;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 770px) {
  .footer-useful {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
}

.footer-contact {
  flex-grow: 1;
  width: 15%;
  box-sizing: border-box;
}
.footer-contact h4 {
  color: white;
  padding-bottom: 20px;
}
.footer-contact p {
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}
@media (max-width: 770px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 50px;
  }
}

.footer-newsletter {
  width: 15%;
  flex-grow: 1;
  box-sizing: border-box;
}
.footer-newsletter h4 {
  padding-bottom: 30px;
}
.footer-newsletter p {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 30px;
}
@media (max-width: 770px) {
  .footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 0px;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer-subscribe #footer {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 65%;
  font-family: inherit;
  outline: none;
  transition: all ease-in-out 0.3s;
  margin: 0;
  padding: 0 0 0 8px;
  height: 33px;
  border: none;
  border-right: none;
}
.footer-subscribe #footer:focus {
  border: none;
}
.footer-subscribe #footer:focus-within {
  border: 1px solid #80bdff;
  transition: all ease-in-out 0.3s;
}
.footer-subscribe #footer:invalid:not(:placeholder-shown) ~ .invalid-disclaimer {
  height: 20px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 770px) {
  .footer-subscribe {
    width: 100%;
  }
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00428a;
  height: 90px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.footer-copyright a {
  color: white;
  transition: all ease-in-out 0.3s;
}
.footer-copyright a:hover {
  color: #007bff;
  transition: all ease-in-out 0.3s;
}
.footer-copyright p:nth-child(2) {
  font-size: 13px;
}